[submodule "3rd_party/opus"]
	path = 3rd_party/opus
	url = https://git.xiph.org/opus.git
[submodule "3rd_party/ogg"]
	path = 3rd_party/ogg
	url = https://git.xiph.org/ogg.git
[submodule "3rd_party/vorbis"]
	path = 3rd_party/vorbis
	url = https://git.xiph.org/vorbis.git
[submodule "3rd_party/tremor"]
	path = 3rd_party/tremor
	url = https://git.xiph.org/tremor.git
[submodule "3rd_party/libtiff"]
	path = 3rd_party/libtiff
	url = https://github.com/vadz/libtiff.git
[submodule "3rd_party/zlib"]
	path = 3rd_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "3rd_party/libpng"]
	path = 3rd_party/libpng
	url = git://git.code.sf.net/p/libpng/code
